fastapi
uvicorn
python-multipart
# AI Pipeline
langchain
langchain-core
langchain-google-genai
langchain-community
langchain-text-splitters
# Vector Database
chromadb
# Document Loaders & extraction
pypdf
python-docx
python-dotenv
